*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* ---- Nav Section ---- */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #672ac1;
  font-size: 2rem;
  padding: 4rem;
}

.nav-logo {
  width: 12rem;
  border-radius: 1rem;
}

.nav-list-main {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
}

.nav-list-item {
  padding: 0 1rem;
}

.nav-list-item a {
  color: #d7c5ed;
}

.nav-list-item:first-child a {
  color: #41b4ee;
  padding-bottom: 6px;
  border-bottom: 1px solid #41b4ee;
}

.nav-trial {
  background-color: #45b6ee;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  font-size: 1.6rem;
  margin-left: 4rem;
}
/* ---- End of Nav Section ---- */

/* ---- Header Section ---- */
.header {
  display: flex;
  background-color: #672ac1;
  padding: 8rem 16rem;
}

.header-one {
  display: inherit;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.header-one h1 {
  font-size: 8rem;
  font-weight: 400;
}
.header-one p {
  font-size: 2rem;
  color: #d7c5ed;
  font-weight: 300;
  line-height: 1.4;
}

.header-image {
  width: 55rem;
}

.header-one-link {
  background-color: #45b6ee;
  padding: 2rem 3rem;
  border-radius: 4px;
  font-size: 1.6rem;
}
